<%= render 'shared/components/c_landing_header',
  title: "#{@model.abbreviation}. #{@model.full_name}" %>
<div class="l-model-overview">
  <div class="row">
    <div class="small-6 columns">
      <%= render 'shared/components/c_model_overview_card',
        title: 'Scenarios',
        values: @scenarios,
        button_url: model_scenarios_url(@model)
      %>
    </div>
    <div class="small-6 columns">
      <%= render 'shared/components/c_model_overview_card',
        title: 'Indicators',
        values: @indicators,
        button_url: model_indicators_url(@model)
      %>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <%= render 'shared/components/c_columns_table',
                 title: 'Metadata',
                 edit_url: edit_model_url(@model),
                 destroy_url: model_url(@model),
                 destroy_message: model_destroy_confirmation_message(@model),
                 columns: [
                   {
                     title: 'Maintainer',
                     data: @model.maintainer_name
                   },
                   {
                     title: 'Regional scope',
                     data: @model.geographic_coverage
                   },
                   {
                     title: 'Sector focus',
                     data: @model.sectoral_coverage.join(', ')
                   },
                   {
                     title: 'Time horizon',
                     data: @model.time_horizon
                   }
                 ]
      %>
    </div>
  </div>
</div>
