/**
 * @molecule Item header
 * @section Headers
 * @markup
 *   <div class="c-item-header -color-2">
 *    <div class="f-ff1-xs">Indicators</div>
 *    <div class="c-item-header__actions">
 *      <div class="f-ff1-s">40</div>
 *    </div>
 *   </div>
 */
.c-item-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: rem(41px);
  padding: 0 rem(19px) 0 rem(19px);
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;

  &.-color-1 {
    background-color: $color-app-1;
    border-bottom: solid 1px $color-app-4;
  }

  &.-color-2 {
    height: rem(40px);
    background-color: $color-app-3;
    border-bottom: solid 1px $color-app-5;
  }

  .f-ff1-xs,
  .f-ff1-s {
    position: relative;
    top: rem(2px);
  }

  .f-ff1-s {
    color: rgba($color-app-2, 0.3);
  }
}
