/**
 * @molecule Table list item
 * @section Cards
 * @markup
 *  <div style="background-color: #eeeeee; padding: 10px;">
 *    <div class="c-table-list-item -center">
 *      <div class="row">
 *        <div class="small-3 columns">
 *          <div class="c-table-list-item__text f-ff1-m-bold">GCAM-Reference</div>
 *        </div>
 *        <div class="small-2 columns">
 *          <div class="c-table-list-item__text f-ff1-m">Feb 12</div>
 *        </div>
 *        <div class="small-2 columns">
 *          <svg class="icon icon-check"><use xlink:href="#icon-check"></use></svg>
 *        </div>
 *        <div class="small-2 columns">
 *          <svg class="icon icon-check"><use xlink:href="#icon-check"></use></svg>
 *        </div>
 *        <div class="small-3 columns">
 *          <div class="c-table-list-item__actions">
 *            <div class="c-remove-button">
 *              <svg class="icon"><use xlink:href="#icon-delete"></use></svg>
 *              <div class="f-ff1-s">Delete</div>
 *            </div>
 *            <div class="c-edit-button">
 *              <div class="c-edit-button__bubble">
 *                <svg class="icon"><use xlink:href="#icon-edit"></use></svg>
 *              </div>
 *              <div class="f-ff1-s">Edit</div>
 *            </div>
 *          </div>
 *        </div>
 *      </div>
 *    </div>
 *  </div>
 */
.c-table-list-item {
  background-color: $color-app-1;
  min-height: rem(60px);
  border-bottom: 1px solid $color-app-5;
  padding: rem(10px) 0;

  .row {
    height: 100%;
  }

  .icon-check {
    fill: $color-app-7;
    opacity: 0.3;
    width: rem(24px);
    height: rem(14px);
  }

  .c-table-list-item__text {
    position: relative;
    top: rem(3px);
  }

  .c-table-list-item__actions {
    display: flex;
    justify-content: flex-end;
    width: 100%;

    .c-remove-button,
    .c-edit-button .f-ff1-s {
      opacity: 0.5;
    }

    .c-remove-button {
      position: relative;
      top: rem(4px);
      margin-right: rem(18px);
    }
  }

  .f-ff1-s {
    color: $color-app-2;
    line-height: 1.40;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  &.-center {

    .row {
      min-height: rem(40px);
    }

    .columns {
      display: flex;
      align-items: center;
    }
  }
}
