%nav-common {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    position: relative;
    cursor: pointer;

    > * {
      color: inherit;
      text-decoration: none;
    }

    &.-selected {
      font-weight: $font-weight-bold;
    }
  }
}

/**
 * @molecule Landing navigation
 * @section Navigations
 * @markup
 *  <ul class="c-landing-nav f-ff1-xs">
 *    <li class="-selected"><a href="#">Overview</a></li>
 *    <li><a href="#">Scenarios</a></li>
 *    <li><a href="#">Indicators</a></li>
 *  </ul>
 */
.c-landing-nav {
  @extend %nav-common;
  height: rem(56px);
  align-items: center;

  li {
    margin-right: rem(40px);

    &.-selected:before {
      content: '';
      position: absolute;
      bottom: rem(-17px);
      left: 0;
      width: 100%;
      height: rem(6px);
      background-color: $color-app-6;
    }
  }

  &.f-ff1-xs {
    line-height: 1.64;
  }
}

/**
 * @molecule Vertical navigation
 * @section Navigations
 * @markup
 *  <ul class="c-vertical-nav f-ff1-m">
 *    <li class="-selected">Gereral Info</li>
 *    <li>Usage & License</li>
 *    <li>Details & Description</li>
 *    <li>Coverage</li>
 *    <li>Time</li>
 *    <li>Assumptions</li>
 *    <li>Requirements</li>
 *  </ul>
 */
.c-vertical-nav {
  @extend %nav-common;
  flex-direction: column;

  li {
    margin-bottom: rem(13px);
  }

  &.f-ff1-m {
    line-height: 1.63;
  }
}
