/**
 * @molecule Table 4 columns
 * @section Tables
 * @markup
 *  <div class="c-4-columns-table">
 *    <div class="c-item-header -color-2">
 *      <div class="f-ff1-xs">Metadata</div>
 *      <div class="c-item-header__actions">
 *        <svg class="icon"><use xlink:href="#icon-edit"></use></svg>
 *      </div>
 *    </div>
 *    <div class="row">
 *      <div class="small-3 columns">
 *        <ul class="c-4-columns-table__list f-ff1-m">
 *          <li class="f-ff1-m-bold">Maintainer</li>
 *          <li>Pacific Northwest National</li>
 *          <li>Laboratory (PNNL)</li>
 *        </ul>
 *      </div>
 *      <div class="small-3 columns">
 *        <ul class="c-4-columns-table__list f-ff1-m">
 *          <li class="f-ff1-m-bold">Regional scope</li>
 *          <li>Global</li>
 *        </ul>
 *      </div>
 *      <div class="small-3 columns">
 *        <ul class="c-4-columns-table__list f-ff1-m">
 *          <li class="f-ff1-m-bold">Sector focus</li>
 *          <li>All sectors (IAM)</li>
 *        </ul>
 *      </div>
 *      <div class="small-3 columns">
 *        <ul class="c-4-columns-table__list f-ff1-m">
 *          <li class="f-ff1-m-bold">Time horizon</li>
 *          <li>2100</li>
 *        </ul>
 *      </div>
 *    </div>
 *  </div>
 */
.c-4-columns-table {
  position: relative;
  width: 100%;
  padding-bottom: rem(30px);
  border-radius: 2px;
  background-color: $color-app-3;
  border: solid 1px $color-app-5;

  .c-4-columns-table__list {
    position: relative;
    height: calc(100% - #{rem(23px)});
    margin: rem(23px) 0 0 0;
    padding-left: rem(20px);
    list-style: none;

    li {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .columns:not(:first-child) .c-4-columns-table__list:before {
    content: '';
    position: absolute;
    left: rem(-1px);
    top: 0;
    height: 100%;
    width: rem(1px);
    background-color: $color-app-5;
  }

  .f-ff1-m,
  .f-ff1-m-bold {
    line-height: 1.63;
  }
}
