.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/**
 * @icon Avatar
 * @markup
 *  <svg class="icon"><use xlink:href="#icon-avatar"></use></svg>
 */
//

/**
 * @icon Check
 * @markup
 *  <svg class="icon"><use xlink:href="#icon-check"></use></svg>
 */
//

/**
 * @icon Delete
 * @markup
 *  <svg class="icon"><use xlink:href="#icon-delete"></use></svg>
 */
//

/**
 * @icon Edit
 * @markup
 *  <svg class="icon"><use xlink:href="#icon-edit"></use></svg>
 */
//

/**
 * @icon Info
 * @markup
 *  <svg class="icon"><use xlink:href="#icon-info"></use></svg>
 */
//

/**
 * @icon Search
 * @markup
 *  <svg class="icon"><use xlink:href="#icon-search"></use></svg>
 */
//

/**
 * @icon Settings
 * @markup
 *  <svg class="icon"><use xlink:href="#icon-settings"></use></svg>
 */
//

/**
 * @icon Short
 * @markup
 *  <svg class="icon"><use xlink:href="#icon-short"></use></svg>
 */
//

/**
 * @icon Visibility on
 * @markup
 *  <svg class="icon"><use xlink:href="#icon-visibility-on"></use></svg>
 */
//

/**
 * @icon Visibility off
 * @markup
 *  <svg class="icon"><use xlink:href="#icon-visibility-off"></use></svg>
 */
//

/**
 * @icon Alert
 * @markup
 *  <svg class="icon"><use xlink:href="#icon-alert"></use></svg>
 */
//

/**
 * @icon Sign out
 * @markup
 *  <svg class="icon"><use xlink:href="#icon-signout"></use></svg>
 */
//

/**
 * @icon Checkbox off
 * @markup
 *  <svg class="icon"><use xlink:href="#icon-checkbox-off"></use></svg>
 */
//

/**
 * @icon Checkbox on
 * @markup
 *  <svg class="icon"><use xlink:href="#icon-checkbox-on"></use></svg>
 */
//
