.l-indicators {
  padding-top: rem(29px);

  .l-indicators__upload-block {
    padding-bottom: rem(28px);
  }

  .l-indicators__title {
    padding-top: rem(32px);
  }

  .l-indicators__table-shorts {
    position: relative;
    padding: rem(11px) 0 rem(7px) 0;
    box-shadow: 0 3px 5px 0 $color-app-5;;

    .columns {
      display: flex;
      align-items: flex-end;
    }
  }

  .c-table-list-item {
    padding: rem(19px) 0;

    .c-table-list-item__text {
      line-height: 1.56;
    }
  }
}
