.l-indicators-overview {

  .l-indicators-overview__data-block {
    padding: rem(40px) 0;
  }

  .l-indicators-overview__title {
    padding: rem(3px) 0 rem(12px) 0;
  }

  .l-indicators-overview__hierarchy_info {
    padding: rem(3px) rem(6px) rem(3px) rem(6px);
    border: 2px dashed rgba(51, 51, 51, 0.3)
  }

  .l-indicators-overview__data {
    margin-top: rem(6px);
  }

  .l-indicators-overview__relations {
    padding: rem(40px) 0;
    background-color: $color-app-1;
  }

  .l-indicators-overview__relation-list {
    margin: rem(3px) 0 0 0;

    li {
      margin-bottom: rem(4px);
    }
  }

  .l-indicators-overview__table-title {
    position: relative;
    top: rem(8px);
  }

  .c-table {
    padding-top: rem(13px);
  }
}
