.l-indicators {
  padding-top: rem(39px);

  .f-ff3-m-bold {
    position: relative;
    top: rem(3px);
  }

  .l-indicators__new-indicator {
    text-decoration: none;
  }

  .l-indicators__filters {

  }
}
