.l-indicators {
  padding-top: rem(39px);

  .f-ff3-m-bold {
    position: relative;
    top: rem(3px);
  }

  .l-indicators__new-indicator {
    text-decoration: none;
  }

  .l-indicators__filters {
    position: relative;
    padding-top: rem(40px);
    box-shadow: 0 3px 5px 0 $color-app-5;
  }

  .l-indicators__table-shorts {
    padding-top: rem(20px);

    .columns {
      display: flex;
      align-items: flex-end;
    }
  }

  .c-table-list-item {
    padding: rem(19px) 0;

    .c-table-list-item__text {
      line-height: 1.56;
    }
  }
}
