.l-indicator-edit {
  padding: rem(20px) 0 0 0;

  .l-indicator-edit__form-action {
    text-decoration: none;
  }

  .l-indicator-edit__fields {
    padding-top: rem(20px);
  }

  .c-form {
    margin-bottom: rem(20px);
  }
}
