.l-models {
  padding-top: rem(53px);

  .l-models__upload-block {
    padding-bottom: rem(28px);
  }

  .l-models__title {
    margin-bottom: rem(14px);
  }

  .c-model-card {
    margin-bottom: rem(20px);
  }
}
