.l-model-edit {
  padding: rem(20px) 0 0 0;

  .l-model-edit__form-action {
    text-decoration: none;
  }

  .l-model-edit__fields {
    padding-top: rem(20px);
  }

  .c-vertical-nav {
    padding-top: rem(9px);
  }

  .c-form {
    margin-bottom: rem(20px);
  }
}
