.l-teams {
  padding-top: rem(30px);

  .l-teams__title {
    position: relative;
    top: rem(10px);
  }

  .l-teams__table-shorts {
    position: relative;
    padding: rem(23px) 0 rem(7px) 0;
    box-shadow: 0 3px 5px 0 $color-app-5;
  }
}
