<div class="l-sessions">
  <div class="row align-center">
    <div class="small-4 columns">
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <div class="row">
          <div class="small-12 columns">
            <div class="f-ff3-m-bold l-sessions__title">Forgot your password?</div>
            <div class="c-form">
              <div class="c-form-items">
                <div class="c-form-item">
                  <label class="f-ff1-m">Email</label>
                  <%= f.email_field :email,
                                    autofocus: true,
                                    class: 'c-input-text js-form-input' %>
                </div>
              </div>
            </div>
          </div>
          <div class="small-6 columns">
            <%= link_to new_session_path(resource_name) do %>
              <div class="c-flying-button"><span>Cancel</span></div>
            <% end %>
          </div>
          <div class="small-6 columns">
            <%= f.submit 'Send', class: 'c-button' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
