<ul class="c-notifications-list">
  <% if flash[:alert] %>
    <li>
      <div class="c-notification -red -show-animation js-notification">
        <svg class="icon"><use xlink:href="icon-alert"></use></svg>
        <div class="f-ff1-s"><%= flash[:alert] %></div>
      </div>
    </li>
  <% end %>
  <% if flash[:notice] %>
    <li>
      <div class="c-notification -green -show-animation js-notification">
        <svg class="icon"><use xlink:href="icon-check"></use></svg>
        <div class="f-ff1-s"><%= flash[:notice] %></div>
      </div>
    </li>
  <% end %>
</ul>

<% if @csv_upload && @csv_upload.errors_and_warnings.present? %>
  <%= render "shared/csv_upload_errors_#{@csv_upload.version}" %>
<% end %>
