Scenario <%= @scenario.name %>

<p>Upload date <%= @scenario.created_at.strftime("%b %d %Y") %></p>
<p>Last edit <%= @scenario.updated_at.strftime("%b %d %Y") %> by TODO</p>
<p>Published TODO</p>

<p>TODO here will be effectively the indicators page filtered down by scenario</p>

