.c-table {
  position: relative;

  .c-table__ag-grid {
    background-color: $color-app-1;

    .ag-header {
      box-shadow: 0 3px 5px 0 $color-app-5;
      background-color: $color-app-4;

      .ag-header-cell {
        text-align: left;
      }

      .ag-header-cell-label {
        display: flex;
        cursor: pointer;
      }

      .ag-header-cell-text {
        margin-right: rem(6px);
        font-family: $font-family-1;
        font-size: $ff1-size-m;
        font-weight: $font-weight-bold;
        line-height: 1.63;
        letter-spacing: 0.1px;
        color: $color-app-2;
        order: 1;
      }

      .ag-header-icon .icon {
        position: relative;
        top: rem(1px);
        width: rem(9px);
        height: rem(11px);
      }

      .ag-sort-none-icon {
        order: 2;

        .icon {
          fill: rgba($color-app-2, 0.3);
        }
      }
    }

    .ag-row {

      &:not(:first-child):before{
        content: '';
        position: absolute;
        left: 0;
        height: rem(1px);
        width: 100%;
        background-color: $color-app-5;
      }
    }

    .ag-cell {
      display: inline-flex;
      align-items: center;
    }
  }
}
