.c-table {
  position: relative;

  .c-table__ag-grid {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;

    .ag-header {
      box-shadow: 0 3px 5px 0 $color-app-5;

      .ag-header-cell {
        text-align: left;
      }

      .ag-header-cell-text {
        font-family: $font-family-1;
        font-size: $ff1-size-m;
        font-weight: $font-weight-bold;
        line-height: 1.63;
        letter-spacing: 0.1px;
        color: $color-app-2;
      }
    }
  }
}
