<%= render 'shared/components/c_landing_header',
  title: @model.full_name %>
<div class="l-indicators">
  <div class="l-indicators__upload-block">
    <div class="row">
      <div class="small-12 columns">
        <%= render 'shared/components/c_upload_card',
                   form_url: upload_meta_data_model_indicators_url(@model),
                   input_id: 'indicators_file',
                   structure_url: upload_template_model_indicators_url(@model),
                   button_text: 'Upload or update indicators' %>
      </div>
    </div>
  </div>
  <%= render 'list' %>
</div>
