<% if defined? @model %>
  <%= render 'shared/components/c_landing_header', title: @model.full_name %>
<% else %>
  <%= render 'shared/components/c_landing_header', no_nav: true %>
<% end %>
<div class="l-indicators">
  <div class="l-indicators__upload-block">
    <div class="row">
      <div class="small-12 columns">
        <%= render 'shared/components/c_upload_card',
                   structure_path: upload_template_path,
                   sample_path: '/System_Indicator_Master_List.csv',
                   button_text: 'Upload or update indicators',
                   service_type: 'UploadTimeSeriesValues',
                   return_path: polymorphic_path([@model, :indicators]) %>
      </div>
    </div>
  </div>
  <%= render 'list' %>
</div>
