body {
  background-color: $color-app-4;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.-hidden {
  display: none !important;
}

.-no-wrap {
  white-space: nowrap;
}

.c-form-item {

  .field_with_errors:first-child {
    display: inline-block;
  }
}
