<%
  user ||= nil
  withNav ||= true
  withSettings ||= true
%>
<div class="c-landing-header <% if !withNav %>-no-nav<% end %>">
  <div class="row">
    <div class="small-9 columns"></div>
    <div class="small-3 columns">
      <div class="c-landing-header__buttons">
        <% if user.present? %>
          <div class="c-user-button">
            <div class="f-ff1-s">John Doe</div>
            <svg class="icon"><use xlink:href="#icon-avatar"></use></svg>
          </div>
        <% end %>
        <% if withSettings %>
          <div class="c-settings-button">
            <div class="f-ff1-s">Settings</div>
            <svg class="icon"><use xlink:href="#icon-settings"></use></svg>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
