<div class="c-model-card">
  <div class="f-ff2-m"><%= title %></div>
  <div class="f-ff1-s"><%= description %></div>
  <%= link_to button_url do %>
    <div class="c-button"><span>Select this model</span></div>
  <% end %>
</div>