<%
  title ||= nil
  user ||= nil
  no_nav ||= false
  no_settings ||= false
  no_logo ||= false
%>
<div class="c-landing-header <% if no_nav %>-no-nav<% end %>">
  <div class="row">
    <div class="small-9 columns">
      <% if !no_logo %>
      <% end %>
      <% if title.present? %>
        <div class="f-ff2-xl-extralight">GCAM. Global Change Assessment Model</div>
      <% end %>
    </div>
    <div class="small-3 columns">
      <div class="c-landing-header__buttons">
        <% if user.present? %>
          <div class="c-user-button">
            <div class="f-ff1-s">John Doe</div>
            <svg class="icon"><use xlink:href="#icon-avatar"></use></svg>
          </div>
        <% end %>
        <% if !no_settings %>
          <div class="c-settings-button">
            <div class="f-ff1-s">Settings</div>
            <svg class="icon"><use xlink:href="#icon-settings"></use></svg>
          </div>
        <% end %>
      </div>
    </div>
    <% if !no_nav && @nav_links.present? %>
      <div class="small-12 columns">
        <ul class="c-landing-nav f-ff1-xs">
          <% @nav_links.each do |link| %>
            <li class="<%= (controller_name == link[:key] ? '-selected' : '')%>">
              <%= link_to link[:name], link[:path]  %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
</div>
