<%
  other_class ||= ''
  column_key ||= ''
%>
<div class="c-order-filter-button f-ff1-m-bold js-order-filter <%= other_class %>" data-column-key="<%= column_key %>">
  <%= text %>
  <svg class="icon"><use xlink:href="#icon-short"></use></svg>
</div>
