/** @color Pale Peach */
$color-pale-peach: #ffe5b0;

/** @color Mango */
$color-mango: #fab72e;

/** @color Squash */
$color-squash: #f3a70d;

/** @color White */
$color-white: #ffffff;

/** @color Black */
$color-black: #000000;

/** @color Bone White */
$color-bone-white: #f5f5f5;

/** @color Plaster White */
$color-plaster-white: #f2f2f2;

/** @color Grey */
$color-grey: #eeeeee;

/** @color Pale Grey */
$color-pale-grey: #dbdfe5;

/** @color Dark Grey */
$color-dark-grey: #333333;

/** @color Orangey Red */
$color-orangey-red: #fa2e2e;

/** @color Apple */
$color-apple: #89cc54;

$color-app-1: $color-white;
$color-app-2: $color-dark-grey;
$color-app-3: $color-bone-white;
$color-app-4: $color-grey;
$color-app-5: $color-pale-grey;
$color-app-6: $color-mango;
$color-app-7: $color-black;
$color-app-8: $color-pale-peach;
$color-app-9: $color-squash;
$color-app-10: $color-orangey-red;
$color-app-11: $color-apple;
$color-app-12: $color-plaster-white;
